{% extends 'base.html' %}

{% block header %}

  {% include 'filters/header.html' with form=form %}

{% endblock %}


{% block container %}
  <div class="row" ng-controller="Ctrl">
    {% verbatim %}
      <div class="right menu nav-pagination" pagination></div>
      <div class="col-md-4" ng-repeat="item in shots track by $index">
        <h4>{{ item.title }}</h4>
        <a class="image" ng-click="showDetail(item)">
          <img alt='{{ item.width }}' class='img-thumbnail' ng-attr-src="{{ item.images.normal }}">
        </a>
        <a href='#'><span class="badge badge-inverse">{{ item.views_count }}</span></a>
        <a href='#'><span class="badge badge-inverse">{{ item.likes_count }}</span></a>
        <a href='#'><span class="badge badge-inverse">{{ item.comments_count }}</span></a>
        <a href='#'><span class="badge badge-inverse">{{ item.player.name }}</span></a>
      </div>
    {% endverbatim %}
  </div>
{% endblock %}